# HAL SPI 驱动配置

if HAL_SPI

config HAL_SPI_LINUX
	bool "SPI Linux driver"
	default y
	depends on PLATFORM_GENERIC_LINUX
	help
	  Enable SPI driver for Linux.
	  Source: src/generic-linux/hal_spi_linux.c

config HAL_SPI_DMA
	bool "SPI DMA support"
	default y
	help
	  Enable SPI DMA transfers.

config HAL_SPI_SLAVE
	bool "SPI slave mode"
	default y
	help
	  Enable SPI slave mode support.

endif # HAL_SPI
