# ============================================================================
# PDM debug_study build configuration
# ============================================================================

CONFIG_PROJECT_NAME="debug_study"
CONFIG_PROJECT_VERSION="1.0.0"

CONFIG_OS_LINUX=y
CONFIG_ARCH_ARM32=y
CONFIG_PLATFORM_LINUX=y

CONFIG_OSAL=m
CONFIG_PDM=m
CONFIG_OSAL_PROFILE_STANDARD=y
CONFIG_DEBUG_STUDY=y
